/* IssueOpenedIconWrapper styles */
.IssueOpenedIconWrapper {
    padding: 8px 0px 0px 16px;
    display: inline-block;
  }
  
  /* UserAnchor styles */
  .UserAnchor {
    text-decoration: none;
    color: #586069;
  }
  
  .UserAnchor:hover {
    color: #0366d6;
  }
  
  /* IssueAnchorWithLabel styles */
  .IssueAnchorWithLabel {
    width: 75%;
  }

  /* IssueWrapper styles */
.IssueWrapper {
    border: 1px solid #e1e4e8;
    background-color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .IssueWrapper:hover {
    background-color: #f6f8fa;
  }


.IssueAnchorNTitleWrapper{
  display : flex;
  flex-direction : row;
  align-items: baseline;
  padding-top: 2px;
}

.IssueOpenedBy{
   font-size : 12px;
   color : #586069;
   line-height: 1.25;
   margin-top: 5px;
   margin-left: 42px;
   padding-bottom: 8px;
}
  